body{margin:auto;width:1000px;height:800px}
.a{width:300px;height:200px;background:red;float:left}
.b{width:700px;height:200px;background:yellow;float:left}
.c{width:1000px;height:350px;background:blue;float:left}
.d{width:300px;height:150px;background:green;float:left}
.e{width:700px;height:150px;background:red;float:left}
.f{width:1000px;height:100px;background:brown;float:left}
p{front-size:40px; color:black; text_aling:justify; front-family:castellar}
h1{color:black